<section class="bd-cta-wrapper style-two  p-relative section-space">
    <div class="bd-cta-bg" data-background="~/assets/images/cta/joining-area.webp"></div>
    <div class="bd-cta-bg-overlay"></div>
    <div class="container">
        <div class="bd-cta-content-wrapper p-relative">
            <div class="bd-cta-shape-wrapper d-none d-md-block">
                <div class="bd-cta-shape-1 p-absolute">
                    <img src="~/assets/images/shape/white-curved-line.webp" alt="shape">
                </div>
                <div class="bd-cta-shape-2 p-absolute">
                    <img src="~/assets/images/shape/white-curved-line.webp" alt="shape">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="bd-cta-content text-center">
                        <div class="bd-section-title-wrapper section-title-space text-center">
                            <h2 class="bd-section-title white-text mb-20">Empowering Students, Enabling Colleges</h2>
                            <p class="bd-section-paragraph white-text">
                                At <strong>IKAISOFT</strong>, we bridge the gap between education and technology.
                                From interactive learning tools to digital solutions for colleges, our goal is to
                                help students excel in their careers and institutions enhance their academic growth.
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="bd-elements-cta section-space-bottom" style="margin-top:10px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="bd-elements-section-wrapper section-title-space text-center">
                    <div class="bd-elements-line" >
                        <div class="bd-separator-line line-left"></div>
                        <div class="bd-elements-title-wrapper">
                            <h2 class="bd-elements-title small" style="margin-top:20px;">Why Choose  <span class="highlight text-secondary">IKAISOFT</span></h2>
                        </div>
                        <div class="bd-separator-line line-right"></div>
                    </div>
                    <p class=""></p>
                </div>
            </div>
        </div>
    </div>
    <section class="bd-cta-wrapper style-two  p-relative section-space">
        <div class="bd-cta-bg" data-background="~/assets/images/cta/cta-bg-3.webp"></div>
        <div class="container">
            <div class="bd-cta-content-wrapper p-relative">
                <div class="bd-cta-shape-wrapper d-none d-lg-block">
                    <div class="bd-cta-shape-1 p-absolute">
                        <img src="~/assets/images/shape/cta-shape-1.webp" alt="shape">
                    </div>
                    <div class="bd-cta-shape-2 p-absolute">
                        <img src="~/assets/images/shape/cta-shape-2.webp" alt="shape">
                    </div>
                    <div class="bd-cta-shape-3 p-absolute">
                        <img src="~/assets/images/shape/cta-shape-3.webp" alt="shape">
                    </div>
                    <div class="bd-cta-shape-4 p-absolute">
                        <img src="~/assets/images/shape/cta-shape-4.webp" alt="shape">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-12">
                        <div class="bd-cta-content text-center">
                            <div class="bd-section-title-wrapper section-title-space text-center">
                                <h2 class="bd-section-title mb-8px">
                                    We are dedicated to delivering <span class="highlight text-primary">innovative learning</span> solutions that empower students and enable colleges to shape a brighter <span class="highlight text-primary">future</span>.
                                </h2>
                            </div>
                            <div class="bd-cta-btn">
                                <a href="#" class="bd-btn btn-secondary">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="bd-elements-cta section-space">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="bd-elements-section-wrapper section-title-space text-center">
                    <div class="bd-elements-line">
                        <div class="bd-separator-line line-left"></div>
                        <div class="bd-elements-title-wrapper">
                            <h2 class="bd-elements-title small">Enhance Your Skills and Future with <span class="highlight text-secondary">IKAISOFT</span></h2>
                        </div>
                        <div class="bd-separator-line line-right"></div>
                    </div>
                    <p class=""></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="bd-cta-wrapper style-three p-relative">
                    <div class="thumb">
                        <img src="~/assets/images/cta/cta-bg-2.webp" alt="image">
                    </div>
                    <div class="bd-cta-box">
                        <div class="bd-section-title-wrapper p-relative">
                            <span class="bd-section-subtitle white-text">Need Guidance?</span>
                            <h2 class="bd-section-title white-text mb-20">Request a consultation!</h2>
                            <p class="bd-section-paragraph white-text">
                                Available 24/7 on weekdays to answer your
                                inquiries, provide assistance
                            </p>
                        </div>
                        <div class="bd-cta-content d-flex-column gap-15 p-relative">
                            <div class="bd-btn-icon btn-secondary btn-extra-large radius-50 pulse-white">
                                <i class="icon-call-ring"></i>
                            </div>
                            <a class="number" href="tel:+1(967)019242590">(+91) 96699-27976</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bd-elements-cta section-space-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-12">
                <div class="bd-elements-section-wrapper section-title-space text-center">
                    <div class="bd-elements-line">
                        <div class="bd-separator-line line-left"></div>
                        <div class="bd-elements-title-wrapper">
                            <h2 class="bd-elements-title small">Call Us Anytime</h2>
                        </div>
                        <div class="bd-separator-line line-right"></div>
                    </div>
                    <p class=""></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="bd-cta-wrapper style-four theme-bg">
                    <div class="bd-cta-item">
                        <div class="bd-cta-content text-md-end">
                            <span class="subtitle">Get In Touch:</span>
                            <h4 class="title"><a href="/cdn-cgi/l/email-protection#a6cfd5d2d3c2dfe6cbc7cfca88c5c9cb"><span class="__cf_email__" data-cfemail="bad3c9cecfdec3fad7dbd3d694d9d5d7">info@ikaisoft.com</span></a></h4>
                        </div>
                        <div class="bd-cta-separator">
                            <span><img src="~/assets/images/logo/ikaisoft-mainlogo.png" alt=""></span>
                        </div>
                        <div class="bd-cta-content">
                            <span class="subtitle">Contact Us At:</span>
                            <h4 class="title"><a href="tel:+012345678900"> (+91) 96699-27976</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>