<section class="bd-testimonial-area p-relative theme-bg">
    <div class="bd-testimonial-video" data-background="@Url.Content("~/assets/images/blog/blog-thumb-18.webp")">
        
    </div>
    <div class="bd-testimonial-bg-two d-none d-lg-block bd-noise-bg"></div>
    <div class="container">
        <div class="row justify-content-end align-items-center">
            <div class="col-xxl-7 col-xl-6 col-lg-6">
                <div class="bd-testimonial-wrap section-space">
                    <div class="bd-testimonial-shape-quote">
                        <img src="~/assets/images/shape/testimonial-quote-icon.webp" alt="shape">
                    </div>
                    <div class="bd-section-title-wrapper section-title-space">
                        <span class="bd-section-subtitle text-secondary">Course</span>
                        <h2 class="bd-section-title white-text mb-60">
                            Your Career, Your Pace <span class="down-mark-line">Smarter Online</span> Learning with IkaiSoft.
                        </h2>
                    </div>
                    <div class="swiper testimonialActiveFour">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bd-testimonial-wrapper style-six">
                                    <div class="bd-testimonial-item">
                                        
                                        <div class="bd-testimonial-content mb-55">
                                            <p>
                                                Start your journey with interactive courses, expert mentors, and real-world learning experiences.
                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="bd-course-area section-space">
        <div class="container">
            <div class="row g-30 align-items-center justify-content-between mb-30">
                <div class="course-top-meta d-flex-between flex-wrap-small mb-30 gap-30">
                    <div class="bd-top-sorting-left">
                        <h6 class="bd-sorting-item-found">We found <span>6</span> courses available for you</h6>
                    </div>
                    <div class="bd-top-sorting-right d-flex flex-wrap-small align-items-center gap-15">
                        <div class="bd-layout-switcher">
                            <label class="bd-filter-type-text bd-grid-filter-text active">Grid</label>

                            <ul class="bd-switcher-btn">
                                <li>
                                    <a href="javascript:void(0)" class="bd-filter-layout-trigger bd-grid-filter-trigger active">
                                        <i class="fa-solid fa-grid"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row gy-30">
                <div class="col-xxl-9 col-xl-9 col-lg-8">
                    <!-- course grid style -->
                    <div class="display-layout-grid active">
                        <div class="row g-30">
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-warning" href="#">Free</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-1"><img src="~/assets/images/course/course-bg-1.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor center"><img src="~/assets/images/course/course-instructor-1.webp" alt="instructor"></div>
                                        <div class="small-text bg-text-color">Getting Started with</div>
                                        <div class="bd-course-overly-title fs-200 text-white">HTML</div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 45 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10">
                                            <a href="courses-details.html">
                                                Masters in Html
                                                from Scratch
                                            </a>
                                        </h5>
                                        <p class="bd-course-description mb-10">Learn the fundamentals of HTML, the standard markup language for creating web pages and applications.</p>

                                        <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="HtmlCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-primary" href="#">FREE</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-2"><img src="~/assets/images/course/course-bg-2.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-2.webp" alt="instructor"></div>
                                        <div class="bd-course-text-content">
                                            <div class="text-1 fs-50 mb-5 text-white">CSS</div>
                                            <div class="text-2 fs-50 mb-5 text-white">For Beginners</div>
                                            <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                                Beginner
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 25 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Complete Cascading style sheet</a></h5>
                                        <p class="bd-course-description mb-10">Master the art of styling web pages with CSS, including layouts, colors, fonts, and responsive design techniques.</p>

                                        <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="CssCourse" >Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-danger" href="#">Free</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-3"><img src="~/assets/images/course/course-bg-3.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-3.webp" alt="instructor"></div>
                                        <div class="bd-course-text-content">
                                            <div class="text-1 fs-50 mb-5 text-white">JS</div>
                                            <div class="text-2 fs-50 mb-25 text-white">Concepts</div>
                                            <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                                Beignner
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 42 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Learn JavaScript</a></h5>
                                        <p class="bd-course-description mb-10">Understand the core concepts of JavaScript, including variables, functions, DOM manipulation, and event handling to build interactive web applications.</p>
                                        <p class="bd-course-description mb-10"></p>

                                        <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="JsCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-success" href="#">Free</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-4"><img src="~/assets/images/course/course-bg-4.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor center"><img src="~/assets/images/course/course-instructor-4.webp" alt="instructor"></div>
                                        <div class="bd-course-overly-title fs-140 text-warning">PYTHON</div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 50 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Masters in Python</a></h5>
                                        <p class="bd-course-description mb-10">Dive into Python programming, covering syntax, data structures, functions, and real-world applications for beginners and advanced learners.</p>

                                        <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="PythonCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-info" href="#">Free</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-5">
                                            <img src="~/assets/images/course/course-bg-5.webp" alt="course background">
                                        </div>
                                        <div class="bd-course-thumb-instructor right">
                                            <img src="~/assets/images/course/course-instructor-5.webp" alt="instructor">
                                        </div>
                                        <div class="bd-course-text-content">
                                            <div class="text-1 fs-50 text-white mb-25">React JS</div>
                                            <div class="text-3 fs-30 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                                Beginner
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 48 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10">
                                            <a href="courses-details.html">
                                                Master
                                                in React JS
                                            </a>
                                        </h5>
                                        <p class="bd-course-description mb-10">React JS is a powerful JavaScript library for building fast, interactive user interfaces. This course covers components, state management, hooks, and real-world project.</p>

                                        <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="ReactCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-primary" href="#">FREE</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-6"><img src="~/assets/images/course/course-bg-6.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-6.webp" alt="instructor"></div>
                                        <div class="bd-course-text-content">
                                            <div class="text-1 fs-50 mb-5 text-white">Introduction</div>
                                            <div class="text-2 fs-50 mb-5 text-white">of Node JS</div>
                                            <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                                Advanced
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 30 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Masters in Node JS</h5>
                                        <p class="bd-course-description mb-10">Learn and Explore Node.js, a powerful JavaScript runtime for building scalable server-side apps. Learn asynchronous programming, modules, APIs, and deployment.</p>

                                        <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="NodejsCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- course grid style end -->
                    <!-- course-more style -->
                    <div class="bd-course-more-btn d-flex justify-content-center mt-50">
                        <a class="bd-btn btn-outline-border-primary" href="#">
                            Load More <span class="right-icon">
                                <i class="fa-duotone fa-spinner"></i>
                            </span>
                        </a>
                    </div>
                    <!-- course-more style end -->
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-4">
                    <div class="bd-course-sidebar sidebar-right sidebar-sticky">
                        <div class="bd-course-widget widget-search">
                            <h5 class="bd-widget-title mb-20">Search</h5>
                            <div class="bd-widget-content">
                                <div class="bd-sidebar-search">
                                    <form class="bd-sidebar-search-form" action="#" method="get">
                                        <input type="text" value="" required="" name="s" placeholder="Search">
                                        <button type="submit"> <i class="far fa-search"></i> </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="bd-course-widget widget-category">
                            <h5 class="bd-widget-title mb-20">Categories</h5>
                            <div class="bd-widget-content">
                                <div class="checkbox-option">
                                    <input id="course-check-1" type="checkbox" checked="">
                                    <label for="course-check-1">Data Science <span>(20)</span></label>
                                </div>
                                <div class="checkbox-option">
                                    <input id="course-check-2" type="checkbox">
                                    <label for="course-check-2">Machine Learning <span>(18)</span></label>
                                </div>
                                <div class="checkbox-option">
                                    <input id="course-check-3" type="checkbox">
                                    <label for="course-check-3">Computer Science <span>(25)</span></label>
                                </div>
                                <div class="checkbox-option">
                                    <input id="course-check-4" type="checkbox">
                                    <label for="course-check-4">Business Administration <span>(12)</span></label>
                                </div>
                            </div>
                        </div>

                        <div class="bd-course-widget widget-price">
                            <h5 class="bd-widget-title mb-20">Price</h5>
                            <div class="bd-widget-content">

                                <div class="checkbox-option">
                                    <input id="course-price-2" type="checkbox" checked="">
                                    <label for="course-price-2">Free <span>(5)</span></label>
                                </div>
                                <div class="checkbox-option">
                                    <input id="course-price-3" type="checkbox">
                                    <label for="course-price-3">Paid <span>(20)</span></label>
                                </div>
                            </div>
                        </div>


                        <div class="bd-course-widget widget-subcategory">
                            <h5 class="bd-widget-title mb-20">Subcategory</h5>
                            <div class="bd-widget-content">
                                <div class="checkbox-option">
                                    <input id="course-subcategory-1" type="checkbox">
                                    <label for="course-subcategory-1">Web Development <span>(30)</span></label>
                                </div>
                                <div class="checkbox-option">
                                    <input id="course-subcategory-3" type="checkbox">
                                    <label for="course-subcategory-3">Graphic Design <span>(15)</span></label>
                                </div>

                            </div>
                        </div>
                        <div class="bd-course-widget widget-language">
                            <h5 class="bd-widget-title mb-20">Language</h5>
                            <div class="bd-widget-content">
                                <div class="checkbox-option">
                                    <input id="course-language-1" type="checkbox">
                                    <label for="course-language-1">English <span>(25)</span></label>
                                </div>
                                <div class="checkbox-option">
                                    <input id="course-language-2" type="checkbox">
                                    <label for="course-language-2">Hindi <span>(12)</span></label>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

