<section class="bd-course-breadcrumb-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="bd-course-breadcrumb-wrapper">
                    <div class="bd-course-breadcrumb-content">
                        <div class="bd-breadcrumb-list justify-content-start mb-20">
                            <span><a asp-controller="Home" asp-action="Index">ikaisoft</a></span>
                            <span class="divider"><i class="fa-regular fa-angle-right"></i></span>
                            <span class="active">NodeJs course</span>
                        </div>
                        <h2 class="bd-course-breadcrumb-title mb-15">Complete and masters in NodeJs</h2>
                        <div class="bd-course-details-meta mb-30">

                            <div class="bd-course-details-meta-item">
                                <p class="title">Category</p>
                                <span class="subtitle"><a href="#">Web Development</a></span>
                            </div>
                        </div>

                        <div class="bd-course-add-time d-flex-items gap-30">
                            <div class="bd-course-add-time-item">
                                <p>
                                    <span class="icon"><i class="fa-solid fa-calendar-days"></i></span> Last Update: <span class="date">28 August 2025</span>
                                </p>
                            </div>
                            <div class="bd-course-add-time-item">
                                <p>
                                    <span class="icon"><i class="fa-light fa-rotate"></i></span> Released: <span class="date">25 August 2025</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bd-course-details-area section-space-bottom">
    <div class="container">
        <div class="row gy-30">
            <div class="col-lg-8 col-md-12">
                <div class="bd-course-menu mt-30">
                    <nav class="bd-course-menu-nav">
                        <ul>
                            <li class="active"><a href="#overview">Description</a></li>
                            <li class=""><a href="#details">Requirements</a></li>
                            <li class=""><a href="#courseContent">Curriculum</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="course-details-content">
                    @* Description *@
                    <div class="bd-course-feature-box mt-20" id="overview">
                        <h3 class="bd-course-details-content-title">Descriptions</h3>
                        <p class="description mb-15">
                            Node.js is a powerful, open-source, cross-platform runtime environment that allows developers to run JavaScript code outside of the web browser. Built on Google Chrome’s V8 JavaScript engine, it is designed to be lightweight, fast, and efficient. Unlike traditional server-side technologies, Node.js uses an event-driven, non-blocking I/O model, which makes it highly scalable and suitable for building applications that need to handle many simultaneous connections, such as chat applications, online gaming, video streaming, or real-time collaboration tools. One of its biggest advantages is that it enables developers to use JavaScript on both the frontend and backend, creating a unified development environment. Node.js also comes with npm (Node Package Manager), the world’s largest ecosystem of open-source libraries, which makes building and maintaining applications easier and faster. Because of its performance, scalability, and flexibility, Node.js is widely used for building web servers, APIs, microservices, and even desktop or IoT applications.
                        </p>

                    </div>
                    @* Requirements *@
                    <div class="bd-course-feature-box mt-20" id="details">
                        <h3 class="bd-course-details-content-title">Requirements</h3>
                        <div class="row gy-30">
                            <div class="col-lg-6">
                                <div class="bd-course-details-list">
                                    <ul>
                                        <li>
                                            <span class="list-icon success">
                                                <i class="fa-solid fa-check"></i>
                                            </span>
                                            Basic understanding of computer usage and internet browsing
                                        </li>
                                        <li>
                                            <span class="list-icon success">
                                                <i class="fa-solid fa-check"></i>
                                            </span>
                                            No prior programming knowledge is required
                                        </li>
                                        <li>
                                            <span class="list-icon success">
                                                <i class="fa-solid fa-check"></i>
                                            </span>
                                            A computer with access to the internet
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Curriculum *@                  
                    <div class="bd-course-feature-box mt-30" id="courseContent">
                        <h3 class="bd-course-details-content-title">Course Content</h3>
                        <div class="bd-course-curriculum-accordion">
                            <div class="accordion-common-style accordion-transparent accordion-sl-number accordion-item-margin">
                                <div class="accordion" id="accordionExampleEight">
                                    <!-- Accordion Item #1 -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <span class="accordion-button-title">
                                                    Getting started with NodeJs
                                                </span>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExampleEight">
                                            <div class="accordion-body">
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">What is Node.js & Why Use It?</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Installing Node.js & npm</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Understanding Event-Driven Architecture</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Node.js REPL & Basics</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Accordion Item #2 -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span class="accordion-button-title">
                                                    Core NodeJs modules & File System
                                                </span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExampleEight">
                                            <div class="accordion-body">

                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">File System</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Events & EventEmitter</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Creating a Simple HTTP Server</p>
                                                    </div>
                                                </a>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Accordion Item #3 -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span class="accordion-button-title">
                                                    Express Js and Middlewares
                                                </span>
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExampleEight">
                                            <div class="accordion-body">
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">What is Express.js & Why Use It?</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Setting Up Express App</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Routing in Express</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">
                                                            Middleware & Request Handling
                                                        </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Accordion Item #4 -->
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span class="accordion-button-title">
                                                   Database, APIs and Deployment
                                                </span>
                                            </button>
                                        </h2>
                                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExampleEight">
                                            <div class="accordion-body">
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Connecting Node.js with MongoDB</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">CRUD Operations with MongoDB</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">Authentication & JWT Basics</p>
                                                    </div>
                                                </a>
                                                <a href="#" class="bd-course-curriculum-content d-flex-between">
                                                    <div class="bd-course-curriculum-info d-flex-items gap-10">
                                                        <div class="icon"><i class="fa-solid fa-hand-point-right"></i></div>
                                                        <p class="title">API Testing with Postman</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @* side pop *@
            <div class="col-lg-4 col-md-12">
                <div class="bd-course-sidebar-widget sidebar-right sidebar-sticky course-sidebar-top" style="margin-top:-260px;">
                    <div class="bd-course-sidebar-widget-thumb mb-20 p-relative">
                        <img src="~/assets/images/course/course-video.webp" alt="image">

                        <div class="bd-course-badge">
                            <a class="bd-badge badge-danger" href="#">Free</a>
                        </div>
                    </div>
                    <div class="bd-course-sidebar-widget-cat d-flex-between mb-20">
                        <a class="bd-badge badge-outline-primary badge-transparent" href="#">Web Development</a>
                    </div>
                    <div class="bd-course-sidebar-widget-price mb-20">
                        <div class="bd-course-price">
                            <span class="current-price">Free</span>
                            <span class="old-price">₹1000.00</span>
                        </div>
                        <div class="bd-discount-time">
                            <span>
                                <i class="fa-light fa-clock"></i>
                                7 Days left at this price!
                            </span>
                        </div>
                    </div>
                    <div class="bd-course-sidebar-widget-btn mb-20">
                        <a href="cart.html" class="bd-btn btn-primary w-100 mb-15">Entroll Now!</a>
                        @* <a href="checkout.html" class="bd-btn btn-outline-primary w-100">Buy Now</a> *@
                    </div>
                    <div class="bd-course-sidebar-widget-list mb-20">
                        <h6 class="mb-15">This course includes:</h6>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-filter"></i>
                                    <span>Level</span>
                                </div>
                                <div class="video-corse-info">
                                    <span>Beginners</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-desktop"></i>
                                    <span>Modules</span>
                                </div>
                                <div class="video-corse-info">
                                    <span>4 Modules</span>
                                </div>
                            </li>

                            <li>
                                <div class="icon">
                                    <i class="fas fa-th-list"></i>
                                    <span>Category</span>
                                </div>
                                <div class="video-corse-info">
                                    <span>Web Development & Data Science</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-globe"></i>
                                    <span>Language</span>
                                </div>
                                <div class="video-corse-info">
                                    <span>English</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-bookmark"></i>
                                    <span>Access</span>
                                </div>
                                <div class="video-corse-info">
                                    <span>Free</span>
                                </div>
                            </li>


                        </ul>
                    </div>
                    <div class="bd-course-sidebar-widget-share mb-20">
                        <div class="bd-post-share">
                            <span class="b2 fw-5 mb-15 d-block">Share Now: </span>
                            <div class="theme-social circle">
                                <ul class="social-icon-list">
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bd-course-sidebar-widget-btn">
                        <a href="" class="bd-btn btn-primary w-100">
                            <span class="left-icon">
                                <i class="fa-sharp fa-light fa-gift"></i>
                            </span> Start
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bd-related-course-area section-space-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="bd-section-title-wrapper section-title-space text-center">
                    <span class="bd-section-subtitle">More Course</span>
                    <h2 class="bd-section-title">Related Courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bd-course-slider">
                <div class="swiper courseActive">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="bd-course-wrapper style-two">
                                <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                    <div class="bd-course-badge">
                                        <a class="bd-badge badge-warning" href="#">Free</a>
                                    </div>
                                    <div class="bd-course-thumb-bg bg-1"><img src="~/assets/images/course/course-bg-1.webp" alt="images"></div>
                                    <div class="bd-course-thumb-instructor center"><img src="~/assets/images/course/course-instructor-1.webp" alt="instructor"></div>
                                    <div class="small-text bg-text-color">Getting Started with</div>
                                    <div class="bd-course-overly-title fs-200 text-white">HTML</div>
                                </div>
                                <div class="bd-course-content">
                                    <div class="bd-course-content-bottom mb-10">
                                        <div class="bd-course-lesson has-separator">
                                            <span><i class="fa-light fa-clock"></i> 45 Lessons</span>
                                        </div>
                                    </div>
                                    <h5 class="bd-course-title underline mb-10">
                                        <a href="courses-details.html">
                                            Masters in Html
                                            from Scratch
                                        </a>
                                    </h5>
                                    <p class="bd-course-description mb-10">Learn the fundamentals of HTML, the standard markup language for creating web pages and applications.</p>

                                    <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="HtmlCourse">Enroll Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bd-course-wrapper style-two">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-primary" href="#">FREE</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-2"><img src="~/assets/images/course/course-bg-2.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-2.webp" alt="instructor"></div>
                                        <div class="bd-course-text-content">
                                            <div class="text-1 fs-50 mb-5 text-white">CSS</div>
                                            <div class="text-2 fs-50 mb-5 text-white">For Beginners</div>
                                            <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                                Beginner
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 25 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Complete Cascading style sheet</a></h5>
                                        <p class="bd-course-description mb-10">Master the art of styling web pages with CSS, including layouts, colors, fonts, and responsive design techniques.</p>

                                        <div class="bd-course-btn">
                                            <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="CssCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bd-course-wrapper style-two">
                                <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                    <div class="bd-course-badge">
                                        <a class="bd-badge badge-danger" href="#">Free</a>
                                    </div>
                                    <div class="bd-course-thumb-bg bg-3"><img src="~/assets/images/course/course-bg-3.webp" alt="images"></div>
                                    <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-3.webp" alt="instructor"></div>
                                    <div class="bd-course-text-content">
                                        <div class="text-1 fs-50 mb-5 text-white">JS</div>
                                        <div class="text-2 fs-50 mb-25 text-white">Concepts</div>
                                        <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                            Beignner
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-course-content">
                                    <div class="bd-course-content-bottom mb-10">
                                        <div class="bd-course-lesson has-separator">
                                            <span><i class="fa-light fa-clock"></i> 42 Lessons</span>
                                        </div>
                                    </div>
                                    <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Learn JavaScript</a></h5>
                                    <p class="bd-course-description mb-10">Understand the core concepts of JavaScript, including variables, functions, DOM manipulation, and event handling to build interactive web applications.</p>
                                    <p class="bd-course-description mb-10"></p>

                                    <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="JsCourse">Enroll Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider dots pagination -->
                    <div class="bd-course-pagination has-primary bd-dots-pagination justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
