
<section class="bd-testimonial-area p-relative theme-bg">
    <div class="bd-testimonial-video" data-background="@Url.Content("~/assets/images/blog/blog-thumb-18.webp")">
    </div>
    <div class="bd-testimonial-bg-two d-none d-lg-block bd-noise-bg"></div>
    <div class="container">
        <div class="row justify-content-end align-items-center">
            <div class="col-xxl-7 col-xl-6 col-lg-6">
                <div class="bd-testimonial-wrap section-space">
                    <div class="bd-testimonial-shape-quote">
                        <img src="~/assets/images/shape/testimonial-quote-icon.webp" alt="shape">
                    </div>
                    <div class="bd-section-title-wrapper section-title-space">
                        <span class="bd-section-subtitle text-secondary">Course</span>
                        <h2 class="bd-section-title white-text mb-60">
                            Your Career, Your Pace <span class="down-mark-line">Smarter Online</span> Learning with IkaiSoft.
                        </h2>
                    </div>
                    <div class="swiper testimonialActiveFour">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bd-testimonial-wrapper style-six">
                                    <div class="bd-testimonial-item">

                                        <div class="bd-testimonial-content mb-55">
                                            <p>
                                                Start your journey with interactive courses, expert mentors, and real-world learning experiences.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="bd-course-details-area bd-course-details-top section-space-bottom">
        <div class="container">
            <div class="row gy-30">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="bd-course-details-wrapper mb-30">
                        <div class="bd-course-details-heading mb-30">
                            <h2 class="bd-course-details-title mb-5">Complete and masters in React</h2>

                        </div>
                        <div class="bd-course-details-meta mb-30">

                            <div class="bd-course-details-meta-item">
                                <p class="title">Category</p>
                                <span class="subtitle"><a href="#">Web development</a></span>
                            </div>
                        </div>
                        <div class="bd-course-details-content mb-30">
                            <h3 class="bd-course-details-content-title">Description</h3>
                            <p class="description"></p>
                            React is a popular JavaScript library for building user interfaces, especially single-page applications. Developed and maintained by Facebook, React enables developers to create reusable UI components, manage application state efficiently, and build fast, interactive web applications. Its virtual DOM system ensures high performance, while its component-based architecture promotes code reusability and maintainability. React is widely adopted in the industry and supported by a large community, making it a great choice for both beginners and experienced developers.
                            </p>
                        </div>

                        <div class="bd-course-details-content mb-30">
                            <h3 class="bd-course-details-content-title">Requirements</h3>
                            <div class="bd-post-details-list">
                                <ul>
                                    <li>
                                        Basic understanding of computer usage and internet browsing
                                    </li>
                                    <li>
                                        No prior programming knowledge is required
                                    </li>
                                    <li>
                                        A computer with access to the internet
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="bd-course-curriculum mb-30">
                            <h3 class="bd-course-details-content-title">Curriculum</h3>
                            <span class="bd-course-curriculum-overview">40 lectures | 10h 15m</span>
                            <div class="accordion-common-style accordion-transparent">
                                <div class="accordion" id="accordionExample">

                                <!-- Section 1 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <i class="fas fa-lock text-primary"></i><span></span> Getting Started with React
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="bd-course-curriculum-content ">
                                                <ul>
                                                    <li style="margin-left: 68px;">What is React & Why Use It?</li>
                                                    <li style="margin-left: 68px;">Setting Up React Environment (Vite/CRA)</li>
                                                    <li style="margin-left: 68px;">JSX & Rendering Elements</li>
                                                    <li style="margin-left: 68px;">Components: Functional vs Class</li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Section 2 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fas fa-lock text-primary"></i><span></span>
                                            Core React Concepts
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li style="margin-left: 68px;">Props & Passing Data Between Components</li>
                                                <li style="margin-left: 68px;">State & useState Hook</li>
                                                <li style="margin-left: 68px;">Handling Events in React</li>
                                                <li style="margin-left: 68px;">Conditional Rendering</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Section 3 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fas fa-lock text-primary"></i><span></span>
                                            React Hooks & Advanced Features
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li style="margin-left: 68px;">useEffect & Side Effects</li>
                                                <li style="margin-left: 68px;">Forms & Controlled Components</li>
                                                <li style="margin-left: 68px;">Lists, Keys & Rendering Arrays</li>
                                                <li style="margin-left: 68px;">Context API & Prop Drilling Solution</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Section 4 -->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                aria-expanded="false" aria-controls="collapseFour">
                                            <i class="fas fa-lock text-primary"></i><span></span> Building & Deploying React Apps
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                         aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul>
                                                <li style="margin-left: 68px;">React Router for Navigation</li>
                                                <li style="margin-left: 68px;">Fetching Data with Fetch & Axios</li>
                                                <li style="margin-left: 68px;">State Management</li>
                                                <li style="margin-left: 68px;">Performance Optimization & Best Practices</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>


                            <div class="bd-course-detalis-review">
                            <div class="row  justify-content-between">
                                <div class="col-lg-6 col-md-12">
                                    <a id="show-review-box" class="bd-btn btn-secondary" href="javascript:void(0)">
                                        Write a Review
                                    </a>
                                </div>
                                <div class="col-lg-6  col-md-12" style="padding-left:225px;">
                                    <button class="bd-btn btn-primary" style="margin-top:8px;">Get the course</button>
                                </div>
                            </div>
                                <div id="review-box" class="bd-review-form mt-15">
                                    <div class="bd-review-form-rating mb-15">
                                        <p>
                                            Your email address will not be published. Required fields are marked
                                            *
                                        </p>
                                        <div class="bd-ratings-wrapper">
                                            <i class="fa fa-star" data-value="1"></i>
                                            <i class="fa fa-star" data-value="2"></i>
                                            <i class="fa fa-star" data-value="3"></i>
                                            <i class="fa fa-star" data-value="4"></i>
                                            <i class="fa fa-star" data-value="5"></i>
                                            <input type="hidden" name="rating" value="5">
                                        </div>
                                    </div>
                                    <form action="#">
                                        <div class="row gy-30">
                                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                                <div class="bd-postbox-comment-input">
                                                    <input type="text" placeholder="Name" required="">
                                                </div>
                                            </div>
                                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                                <div class="bd-postbox-comment-input">
                                                    <input type="email" placeholder="Email" required="">
                                                </div>
                                            </div>
                                            <div class="col-xxl-12">
                                                <div class="bd-postbox-comment-input mb-15">
                                                    <textarea placeholder="Your Comment Here..."
                                                              spellcheck="false"></textarea>
                                                </div>
                                                <div class="checkbox-option">
                                                    <input id="course-check-1" type="checkbox">
                                                    <label for="course-check-1">
                                                        Save my name, email, and website in this
                                                        browser for
                                                        the next time I comment.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xxl-12">
                                                <div class="bd-postbox-comment-btn">
                                                    <button type="submit" class="bd-btn btn-outline-primary">
                                                        Submit
                                                        Review
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4" style="margin-top:35px;">
                <img src="~/assets/images/bg/ikaisoft-course-logo-2.png" style="height:800px; width:800px;margin-left:77px" />
            </div>
                </div>
            </div>
    </section>
<section class="bd-related-course-area section-space-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7">
                <div class="bd-section-title-wrapper section-title-space text-center">
                    <span class="bd-section-subtitle">More Course</span>
                    <h2 class="bd-section-title">Related Courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="bd-course-slider">
                <div class="swiper courseActive">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="bd-course-wrapper style-two">
                                <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                    <div class="bd-course-badge">
                                        <a class="bd-badge badge-warning" href="#">Free</a>
                                    </div>
                                    <div class="bd-course-thumb-bg bg-1"><img src="~/assets/images/course/course-bg-1.webp" alt="images"></div>
                                    <div class="bd-course-thumb-instructor center"><img src="~/assets/images/course/course-instructor-1.webp" alt="instructor"></div>
                                    <div class="small-text bg-text-color">Getting Started with</div>
                                    <div class="bd-course-overly-title fs-200 text-white">HTML</div>
                                </div>
                                <div class="bd-course-content">
                                    <div class="bd-course-content-bottom mb-10">
                                        <div class="bd-course-lesson has-separator">
                                            <span><i class="fa-light fa-clock"></i> 45 Lessons</span>
                                        </div>
                                    </div>
                                    <h5 class="bd-course-title underline mb-10">
                                        <a href="courses-details.html">
                                            Masters in Html
                                            from Scratch
                                        </a>
                                    </h5>
                                    <p class="bd-course-description mb-10">Learn the fundamentals of HTML, the standard markup language for creating web pages and applications.</p>

                                    <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="HtmlCourse">Enroll Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bd-course-wrapper style-two">
                                <div class="bd-course-wrapper style-two">
                                    <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                        <div class="bd-course-badge">
                                            <a class="bd-badge badge-primary" href="#">FREE</a>
                                        </div>
                                        <div class="bd-course-thumb-bg bg-2"><img src="~/assets/images/course/course-bg-2.webp" alt="images"></div>
                                        <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-2.webp" alt="instructor"></div>
                                        <div class="bd-course-text-content">
                                            <div class="text-1 fs-50 mb-5 text-white">CSS</div>
                                            <div class="text-2 fs-50 mb-5 text-white">For Beginners</div>
                                            <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                                Beginner
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bd-course-content">
                                        <div class="bd-course-content-bottom mb-10">
                                            <div class="bd-course-lesson has-separator">
                                                <span><i class="fa-light fa-clock"></i> 25 Lessons</span>
                                            </div>
                                        </div>
                                        <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Complete Cascading style sheet</a></h5>
                                        <p class="bd-course-description mb-10">Master the art of styling web pages with CSS, including layouts, colors, fonts, and responsive design techniques.</p>

                                        <div class="bd-course-btn">
                                            <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="CssCourse">Enroll Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="bd-course-wrapper style-two">
                                <div class="bd-course-thumb-wrapper bd-course-thumb-style small-style p-relative">
                                    <div class="bd-course-badge">
                                        <a class="bd-badge badge-danger" href="#">Free</a>
                                    </div>
                                    <div class="bd-course-thumb-bg bg-3"><img src="~/assets/images/course/course-bg-3.webp" alt="images"></div>
                                    <div class="bd-course-thumb-instructor right"><img src="~/assets/images/course/course-instructor-3.webp" alt="instructor"></div>
                                    <div class="bd-course-text-content">
                                        <div class="text-1 fs-50 mb-5 text-white">JS</div>
                                        <div class="text-2 fs-50 mb-25 text-white">Concepts</div>
                                        <div class="text-3 fs-28 white-bg text-primary pl-10 pr-10 pt-5 pb-5 d-inline-block latter-sp-2 uppercase">
                                            Beignner
                                        </div>
                                    </div>
                                </div>
                                <div class="bd-course-content">
                                    <div class="bd-course-content-bottom mb-10">
                                        <div class="bd-course-lesson has-separator">
                                            <span><i class="fa-light fa-clock"></i> 42 Lessons</span>
                                        </div>
                                    </div>
                                    <h5 class="bd-course-title underline mb-10"><a href="courses-details.html">Learn JavaScript</a></h5>
                                    <p class="bd-course-description mb-10">Understand the core concepts of JavaScript, including variables, functions, DOM manipulation, and event handling to build interactive web applications.</p>
                                    <p class="bd-course-description mb-10"></p>

                                    <div class="bd-course-btn">
                                        <a class="bd-btn btn-outline-primary" asp-controller="Home" asp-action="JsCourse">Enroll Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider dots pagination -->
                    <div class="bd-course-pagination has-primary bd-dots-pagination justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

