<section class="bd-authentication-cover-main ">
    <div class="row h100vh mx-0">
        <div class="col-xxl-7 col-xl-5 col-lg-12 d-xl-block d-none px-0">
            <div class="bd-authentication-cover overflow-hidden" data-background="@Url.Content("~/assets/images/contact/ikaisoft-signup-image-4.png")">
                <div class="bd-authentication-cover-content d-flex-center d-none">
                    <div class="bd-section-title-wrapper">
                        <h2 class="bd-section-title mb-20">Join Us Today!</h2>
                        <p class="bd-section-paragraph">
                            Create your account and step into a world filled with
                            endless possibilities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-5 col-xl-7">
            <div class="row justify-content-center align-items-center h100p">
                <div class="col-xxl-9 col-xl-12 col-lg-6 col-md-6 col-sm-8 col-12">
                    <div class="bd-authentication-form-wrapper">
                        <div class="bd-authentication-form-logo">
                            <a href="index.html"><img src="~/assets/images/logo/ikaisoft-mainlogo.png" alt="logo" style="width:100px;"></a>
                        </div>
                        <h3 class="title mb-10">Sign Up</h3>
                        <p class="subtitle">Join us by creating a free account</p>
                        <form action="#">
                            <div class="form-input-box mb-20">
                                <div class="form-input-title">
                                    <label for="fullName">Full Name <span>*</span></label>
                                </div>
                                <div class="form-input">
                                    <input name="name" id="fullName" type="text" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-input-box mb-20">
                                <div class="form-input-title">
                                    <label for="emailAddress">Email Address <span>*</span></label>
                                </div>
                                <div class="form-input">
                                    <input name="email" id="emailAddress" type="email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-input-box mb-20">
                                <div class="form-input-title">
                                    <label for="password">Password <span>*</span></label>
                                </div>
                                <div class="form-input">
                                    <input name="password" id="password" type="password" placeholder="Your Password">
                                </div>
                            </div>
                            <div class="d-flex-between mb-20">
                                <div class="checkout-option">
                                    <input id="rememberMe" type="checkbox">
                                    <label for="rememberMe">Remember me</label>
                                </div>
                                <div class="sign-forgot underline">
                                    <a href="forgot.html" class="sign-link">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="bd-sign-btn">
                                <button class="bd-btn btn-primary w-100" type="button">Create Account</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>