
    <section class="bd-cta-area theme-bg p-relative fix">
        <div class="container">
            <div class="row gy-30 align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="bd-cta-wrapper style-five">
                        <div class="bd-cta-content">
                            <div class="bd-section-title-wrapper section-title-space">
                            <h4 class="bd-section-title white-text mb-30">
                                Shape Your Success with Ikaisoft’s Smart Learning & Career Empowerment
                            </h4>
                            <div class="bd-course-details-list">
                                <ul>
                                    <li>
                                        <span class="list-icon white">
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                        Gain confidence through hands-on projects and interactive practice sessions.
                                    </li>
                                    <li>
                                        <span class="list-icon white">
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                        Experience personalized pathways tailored to your goals and strengths.
                                    </li>
                                    <li>
                                        <span class="list-icon white">
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                        Access smart assessments with instant insights to track your growth.
                                    </li>
                                    <li>
                                        <span class="list-icon white">
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                        Connect with mentors and peers in a collaborative learning ecosystem.
                                    </li>
                                    <li>
                                        <span class="list-icon white">
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                        Achieve career readiness with practical exposure and industry-recognized certifications.
                                    </li>
                                </ul>
                            </div>


                            </div>
                            <div class="bd-cta-btn d-flex flex-wrap gap-30 align-items-center">
                            <a class="bd-btn btn-outline-border-secondary" asp-controller="Home" asp-action="Courses">
                                    Start
                                    Your Journey
                                </a>
                            <a class="bd-btn btn-outline-border-white" asp-controller="Home" asp-action="Contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bd-cta-wrapper style-five">
                        <div class="bd-cta-thumb-wrapper">
                            <div class="bd-cta-thumb">
                                <img src="~/assets/images/cta/cta-thumb-01.webp" alt="campus life">
                            </div>
                            <div class="bd-cta-thumb-shape">
                                <img src="~/assets/images/cta/shape_circle_uni.svg" alt="decorative shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bd-cta-five-shape">
                <div class="shape-1"><img src="~/assets/images/shape/half-circle-wave-1.webp" alt="pattern"></div>
                <div class="shape-2"><img src="~/assets/images/shape/half-circle-wave-2.webp" alt="pattern"></div>
            </div>
        </div>
    </section>
    <section class="bd-mvs-area section-space">
        <div class="container">
            <div class="row gy-30 justify-content-center align-items-center section-title-space">
                <div class="col-md-3">
                    <div class="bd-mvs-thumb">
                        <img src="~/assets/images/mission/mission-vision-2.webp" alt="image">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bd-mvs-thumb">
                        <img src="~/assets/images/mission/mission-vision-3.webp" alt="image">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bd-mvs-thumb">
                        <img src="~/assets/images/mission/mission-vision-4.webp" alt="image">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bd-mvs-thumb">
                        <img src="~/assets/images/mission/mission-vision-5.webp" alt="image">
                    </div>
                </div>
            </div>
            <div class="row gy-30">
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="bd-mission-vision-box">
                        <div class="bd-mission-vision-shape"><img src="~/assets/images/shape/gradient-circle.webp" alt="shape"></div>
                        <span class="bd-mission-vision-icon">
                            <img src="~/assets/images/icon/mission.svg"
                                 alt="icon">
                        </span>
                        <h3 class="bd-mission-vision-title">Our Mission</h3>
                        <p class="bd-mission-vision-description">
                        Our mission is to transform knowledge into confidence by providing technology-driven learning, career consulting, and innovative IT solutions. We aim to empower students, professionals, and institutions with the skills, mentorship, and tools they need to excel in today’s competitive digital world.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="bd-mission-vision-box">
                        <div class="bd-mission-vision-shape"><img src="~/assets/images/shape/gradient-circle.webp" alt="shape"></div>
                        <span class="bd-mission-vision-icon">
                            <img src="~/assets/images/icon/vision.svg"
                                 alt="icon">
                        </span>
                        <h3 class="bd-mission-vision-title">Our Vision</h3>
                        <p class="bd-mission-vision-description">
                        Our vision is to become a global leader in smart learning and career empowerment, where every learner has access to industry-ready courses, real-world projects, and career opportunities—all within a single platform. We strive to redefine how technology and education combine to shape the future workforce.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="bd-mission-vision-box">
                        <div class="bd-mission-vision-shape"><img src="~/assets/images/shape/gradient-circle.webp" alt="shape"></div>
                        <span class="bd-mission-vision-icon">
                            <img src="~/assets/images/icon/values.svg"
                                 alt="icon">
                        </span>
                        <h3 class="bd-mission-vision-title">Our Values</h3>
                        <p class="bd-mission-vision-description">
                        Leveraging technology to create smarter, interactive, and future-ready learning experiences.Delivering top-quality courses, projects, and career solutions with measurable outcomes.Building trust through transparency, honesty, and commitment to learner success.Enabling learners to gain confidence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bd-event-area section-space-bottom p-relative theme-bg-05">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                    <div class="bd-section-title-wrapper section-title-space text-center">
                        <span class="bd-section-subtitle">our events</span>
                        <h2 class="bd-section-title">Upcoming <span class="down-mark-line-2">Events</span></h2>
                    </div>
                </div>
            </div>
            <div class="row gx-0 gy-30">
                <div class="col-xl-7">
                    <div class="bd-event-wrapper style-two">
                        <div class="bd-event-item">
                            <div class="bd-event-date">
                                <h3>10</h3>
                                <p>April, 2026</p>
                            </div>
                            <div class="bd-event-content">
                                <ul>
                                    <li><i class="fa-regular fa-location-dot"></i>Lucknow, India</li>
                                    <li><i class="fa-regular fa-clock"></i>2.00 pm - 4.00 pm</li>
                                </ul>
                                <h5 class="bd-event-title underline">
                                    <a href="event-details.html">
                                        A Week-long Series
                                        of Events to Welcome New Students, Including Campus Tours
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="bd-event-item has-active">
                            <div class="bd-event-date">
                                <h3>09</h3>
                                <p>March, 2026</p>
                            </div>
                            <div class="bd-event-content">
                                <ul>
                                <li><i class="fa-regular fa-location-dot"></i>Lucknow, India</li>
                                    <li><i class="fa-regular fa-clock"></i>12.00 pm - 6.00 pm</li>
                                </ul>
                                <h5 class="bd-event-title underline">
                                    <a href="event-details.html">
                                        An Event Where
                                        Students Can Showcase Their Oratory and Analytical Skills
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="bd-event-item">
                            <div class="bd-event-date">
                                <h3>15</h3>
                                <p>Feb, 2026</p>
                            </div>
                            <div class="bd-event-content">
                                <ul>
                                <li><i class="fa-regular fa-location-dot"></i>Raebareli, India</li>
                                    <li><i class="fa-regular fa-clock"></i>1.00 pm - 5.00 pm</li>
                                </ul>
                                <h5 class="bd-event-title underline">
                                    <a href="event-details.html">
                                        An Event Where
                                        Students Can Meet With Potential Employers Explore Job
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="bd-event-thumb style-two">
                        <img src="~/assets/images/event/event-thumb-06.webp" alt="image">
                    </div>
                </div>
            </div>
            <div class="event-shape rotateme d-none d-xxl-block">
                <img src="~/assets/images/shape/star.webp"
                     alt="shape">
            </div>
        </div>
    </section>
